pipeline/FININTCommon_Lookup_Validation.json
{
	"name": "FININTCommon_Lookup_Validation",
	"properties": {
		"activities": [
			{
				"name": "Get records",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "FININT1001_Journal_Read_WritePublicBlob",
						"type": "DatasetReference",
						"parameters": {
							"PublicContainerBlob": {
								"value": "@pipeline().parameters.ContainerBlob",
								"type": "Expression"
							},
							"PublicFolderBlob": {
								"value": "@pipeline().parameters.FolderBlob",
								"type": "Expression"
							},
							"PublicFileBlob": {
								"value": "@pipeline().parameters.FileName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Found data",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get records",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Get records').output.count,0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Lookup Failed",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "An error has ocurred trying to fetch the lookup content. No data was found",
								"errorCode": "500"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ContainerBlob": {
				"type": "string",
				"defaultValue": "rhub-fin-adf-inbound"
			},
			"FolderBlob": {
				"type": "string",
				"defaultValue": "FININT1001JournalEntries/FIS/0a05d951-0ce4-46a0-ba5f-3c9556206814"
			},
			"FileName": {
				"type": "string",
				"defaultValue": "FININT1001RHgFISTrigger_0a05d951-0ce4-46a0-ba5f-3c9556206814_tgtmap_r_metadata.csv"
			}
		},
		"folder": {
			"name": "Common"
		},
		"annotations": [],
		"lastPublishTime": "2025-06-25T17:53:17Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}